<form class="example-form" [formGroup]="membreform" (ngSubmit)="SaveMembre()">
    <mat-card>
    <mat-card-content>
    

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput placeholder="ID" formControlName="id" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prenom</mat-label>
        <input matInput placeholder="Prenom" formControlName="prenom" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" formControlName="nom" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cin</mat-label>
        <input matInput placeholder="Cin" formControlName="cin" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tel</mat-label>
        <input matInput placeholder="Tel" formControlName="tel" >
      </mat-form-field>

  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <textarea matInput placeholder="Email" formControlName="email"></textarea>
    </mat-form-field>

    <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="isactive">Is Active</mat-checkbox>
    </section>
</mat-card-content>

    <mat-card-footer>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
</mat-card-footer>
</mat-card>
  </form>